@mixin flex( $display, $alignitems, $justifycontent,$flexdirection ) { 
    display:$display;
    align-items: $alignitems;
    justify-content: $justifycontent;
    flex-direction: $flexdirection;
}
$width:100%;
$Unit5px:5px;
$unit10px:10px;
.header
{
    @include flex($display:flex,$alignitems:center,$justifycontent:start,$flexdirection:row);
    background-color: lightgray;
    height: 65px;
    padding-right: 5%;
    
}
.logo
{
    margin-left: 158px;
    margin-top: 10px;
    @include flex($display:flex,$alignitems:center,$justifycontent:start,$flexdirection:row);
}
.image
{
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
}
h1{
    font-family: 'Oswald', sans-serif !important;
    font-size: 25px;
}

.main
{
    background-color: lightcyan;
    min-height: $width;
}
.main-loanButton{
    padding-top: 2%;
    padding-right: 13%;
    padding-bottom: 2%;
}
.main-body{
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    
}
.main-body-sub{
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 20px;
    background: #ffff;
}

.user-logo{
    border-color: white;
}
.name{
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;

}
.email{
    padding-top: 7%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10%;

}

.addperson{
    padding: 7px 9px ;
    color: #7F7F7F;
}
.person{
    margin-left:5px ;
    border: unset;
    font-size: 13px;
    color: #3c4043;
    width:300px;
    background-color: transparent;
}
.person:focus { 
    outline: none !important;
    border-color: white;
 } 
 .add{
    border:1px solid #6D6D6D;
}

.user{
    padding-top: 1%;
}