<div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="logo">
        <img src="./../../../assets/logo.png" class="image" />
        <h1>LOANSHARK</h1>
    </div>
    <div class="user-logo" fxLayout="row" fxLayoutAlign="space-around"  ngClass="log-out-icon">
        <div  color="" matTooltip="Log Out" mat-icon-button [matMenuTriggerFor]="profile" type="button">
            <img mat-card-avatar src="assets/emplpyee.png" class="img2" sizes="2px">
          </div>
    
          <mat-menu #profile="matMenu" yPosition="below"xPosition="before" >
    
            <mat-card-header fxLayoutAlign="center center" >
                <img mat-card-avatar src="assets/emplpyee.png" class="img2" style="padding-left: 35px;">
                <div fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title class="name">{{FullName}}</mat-card-title>
                <mat-card-subtitle class="email">{{EmailId}}</mat-card-subtitle>
                </div>
            </mat-card-header>
            <div fxLayoutAlign="center center"  class="loanButton" >    
                <button class="btn btn-outline-danger width " type="button" mat-button  style="margin-left: 18px;" (click)="Logout()">
                    Logout
                </button>
            </div>
          </mat-menu>
    </div>
</div>
<div class="main" fxLayout="column" fxLayoutGap="20px">
    
    <div class="main-body" fxLayout="column">
        <div class="main-body-sub">
            <nav class="bread" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item" (click)="navigate()">Home</li>
                  <li class="breadcrumb-item active" aria-current="page">Apply Loan</li>
                </ol>
              </nav>
            <form>
                <div><h2>LOAN FORM</h2></div>
                <div fxLayoutGap="20px">
                    <label for="Reason"><h3>Reason For Loan : </h3></label>
                    <input placeholder="Reason" type="text" class="person" id="Reason" #Reason name="Reason">
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div><h2>PROPERTY</h2></div>
                    <div class="main-loanButton">
                        <div class="btn btn-outline-success btnColor width loanButton" (click)="showAddProperty();">{{!addProperty?'ADD PROPERTY':'CLOSE'}}</div>
                    </div>
                </div>
                <div class="user" fxLayout="row" fxLayoutGap="20%">
                    <h3 fxFlex="20">Property Name</h3>
                    <h3 fxFlex="20">Property Price</h3>
                </div>
                <div class="user" fxLayout="row" fxLayoutGap="20%" *ngFor="let property of propertys">
                    <h3 fxFlex="20">{{property.PropertyName}}</h3>
                    <h3 fxFlex="20">{{property.PropertyWorth}}</h3>
                </div>
                <div class="user" fxLayout="row" *ngIf="addProperty" fxLayoutGap="7%">
                    <input placeholder="property Name" type="text" class="person" id="propertyName" #propertyName name="Name">
                    <input placeholder="property Price" type="text" class="person" id="propertyPrice" #propertyPrice name="Price">
                    <div class="btn btn-outline-success btn-sm width loanButton" (click)="AddProperty(propertyName.value,propertyPrice.value);">ADD</div>        
                </div>
                <div class="user" fxLayoutAlign="end center" style="padding-bottom: 10px; padding-right: 13%; padding-top: 10%;">
                    <div class="btn btn-outline-success width loanButton" (click)="Submit(Reason.value);">SUBMIT</div>
                </div>
            </form>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
    </ngx-spinner> 
    
    
</div>
